<div class="flex flex-col flex-wrap bg-slate-100 relative z-0">
  <div class="flex flex-row justify-end">
    <button mat-button (click)="setSelectedItem({id: lastItemId+1, name:''}, true)">Añadir objeto nuevo</button>
  </div>
  <mat-table [dataSource]="this.items">
    <ng-container matColumnDef="itemId">
      <mat-header-cell *matHeaderCellDef>ID del Pokémon</mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="itemName">
      <mat-header-cell *matHeaderCellDef>Nombre del Pokémon</mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="itemActionEdit">
      <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
      <mat-cell *matCellDef="let item"><button mat-button (click)="setSelectedItem(item, false)" color="primary">Editar</button></mat-cell>
    </ng-container>
    <ng-container matColumnDef="itemActionDelete">
      <mat-header-cell *matHeaderCellDef>Borrar</mat-header-cell>
      <mat-cell *matCellDef="let item"><button mat-button (click)="deleteItem(item)" color="warn">Borrar</button></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
  </mat-table>
</div>
<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 backdrop-blur-md z-20 w-full h-full" *ngIf="selectedItem.id !== -1">
  <div class="flex flex-row justify-center items-center h-full w-full">
    <div class="flex flex-col bg-white shadow-md rounded-md py-8 px-4">
      <h2>{{isNewPokemon === true ? 'Crear' : 'Editar'}} Pokémon</h2>
      <mat-form-field>
        <input matInput placeholder="Nombre"
            [(ngModel)]="selectedItem.name">
      </mat-form-field>
      <button mat-button (click)="saveSelectedItem()" color="primary">Guardar cambios</button>
      <button mat-button (click)="unsetSelectedItem()" color="warn">Descartar cambios</button>
    </div>
  </div>
</div>

